/* Rodapé */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9.6rem 0;
    gap: 3.2rem;
    text-align: center;
    background-color: var(--gray-50);
}

/* Rodapé - Conteúdo */

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 0 3.2rem;
}

.description__title {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4.4rem;
    letter-spacing: -0.072rem;
    color: var(--gray-900);
    margin-bottom: 2rem;
}

.description__text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--gray-500);
}

.container__email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    height: auto;
    width: 100%;
}

.email__input {
    padding: 1.2rem 1.4rem 1.2rem 1.6rem;
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px var(--shadow);
    outline: none;
    position: relative;
    width: 60%;
    font-family: var(--primary-font);
}

.email__input::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray-500);
    position: absolute;
    top: 27.5%;
}

.email__input:hover {
    border: 1px solid var(--gray-500);
    transition: .2s;
}

.email__input:focus-within {
    border: 1px solid var(--gray-900);
}

.email__button {
    background-color: var(--brown-red);
    border: none;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px var(--shadow);
    padding: 1.2rem 2rem;
    cursor: pointer;
    outline: none;
    font-family: var(--primary-font);

    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);
}

.email__button:hover {
    color: var(--white);
    background-color: var(--light-red);
    transition: .2s;
}

.footer__copyright {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--gray-400);
}

/* Responsivo */

@media screen and (max-width: 680px) {
    
    .description__text {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
}