/* Estilos gerais */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');
@import url('./header.css');
@import url('./about.css');
@import url('./metrics.css');
@import url('./vacancies.css');
@import url('./depositions.css');
@import url('./footer.css');

:root {

    --white: #FFFFFF;
    --brown-red: #8E2424;
    --light-red: #7e1b1b;
    --gray-50: #F9FAFB;
    --gray-200: #EAECF0;
    --gray-300: #D0D5DD;
    --gray-400: #98A2B3;
    --gray-500: #667085;
    --gray-900: #101828;
    --beige: rgba(142, 36, 36, 0.05);
    --beige-500: rgba(195, 25, 25, 0.03);   
    --shadow: box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --overlay-mobile: rgba(0,0,0,.75);

    --primary-font: 'Inter', sans-serif;

    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: var(--primary-font);
}

/* Responsivo */

.suppress-scroll {
    overflow: hidden;
}